
<!-- EVENTS INDEX  -->

<% flash.each do |key, value| %>
  <div class="alert alert-success alert-dismissible fade show justify-content-center" role="alert" style="z-index: 1;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      <strong class="text-center"><%= value %></strong>
  </div>
<% end %>

<% if params[:search] != nil %>
  <%= render 'search' %>
<% else %>
  <%= render 'event', obj: @events, mapoff: true%>
<% end %>

<div class="row justify-content-center col-12 mt-5">
  <%= will_paginate(@events, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>
