
  <footer class="footer row justify-content-center">
    <div class="row justify-content-center offset-md-0 footercontent">
      <div class="row col-md-4 col-12 justify-content-center ml-auto align-self-center"> <!--ml-auto align-self-center-->
        <a href="#"><i class="fa fa-facebook-square mr-2 brandlogo"></i></a>
        <a href="#"><i class="fa fa-twitter-square mr-2 brandlogo"></i></a>
        <a href="#"><i class="fa fa-linkedin-square mr-2 brandlogo"></i></a>
        <a href="#"><i class="fa fa-github-square mr-2 brandlogo"></i></a>
      </div>
    </div>
   </footer>
